

<h2>Dashboard</h2>


<div style="position: relative;width: 600px; height: 600px;">    
This peroject combines everything we have learnt so far in the subject, our design skills, our work on data parsing and regression and our understanding of rails to build a service that predicts hyperlocal weather patterns and provides this information to users through both an API and Webview.



    <div style="position: absolute; bottom: 5px;">
    &copy 2015; Rohan, Yash, Shon
    </div>
</div>