



<div style="position: relative;width: 600px; height: 600px;">    
This peroject combines everything you have learnt so far in the subject, your design skills, your work on data parsing and regression and your understanding of rails to build a service that predicts hyperlocal weather patterns and provides this information to users through both an API and Webview.

This project requires two submissions, the first (Part A) is a design document that details your intended overall system architecture and low level and the second is the actual implementation of the system.

Unlike the first two projects, this project is designed to be completed in groups of 3-4. You are required to submit your team to us by the 19th of April. You can do this by emailing Mat at mathew.blair@unimelb.edu.au, with the subject SWEN30006-2015-Project 3 Team, a list of your team members names and student numbers. Please ensure only one person from each team submits this.

    <div style="position: absolute; bottom: 5px;">
    &copy; Rohan, Yash, Shon
    </div>
</div>